*{
  margin: 0;
  padding: 0;
}

/* intestazione */
header{
  height: 100px;
  background-color: yellow;
  width: 70%;
  margin: 0 auto;
}

/* forzatura per il footer */
.headerimg::after{
  content: "";
  display: table;
  clear: both;
}

/* corpo del sito */

section{
  width: 70%;
  margin: 0 auto;
}

.headerimg{
  background-color: red;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contain{
  height: 400px;
  background-color: green;
  margin-bottom: 10px;
}

.box{
  height: 350px;
  background-color: pink;
  margin-top: 5px;
}

.titolo{
height: 40px;
}

.latosx{
  float: left;
  width: 20%;
}

.central{
  float: left;
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.latodx{
  float: left;
  width: 20%;
}

/* piè di pagina */
footer{
  width: 70%;
  background-color: blue;
  height: 80px;
  margin: 0 auto;

}
